@font-face {
  font-family: 'neo-light';
  src: url('NanumSquareNeo-bRg.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'neo';
  src: url('NanumSquareNeo-dEb.ttf') format('truetype');
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {font-weight: bold;}

body {
  margin: 0;
  font-family: 'neo' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
