:root {
    --primary-color: #c3dfff;
    --text-basic-color: #5e5e5e;
    --text-highlight-color: #59a7ff;
    --bg-gray-color: #f7f7f7;
}

.primary-color {
    background-color: var(--primary-color);
}

.text-basic-color {
    color: var(--text-basic-color) !important;
}

.bg-gray-color {
    background-color: var(--bg-gray-color);
}

.bg-white-color {
    background-color: #fff !important;
}

.thin {
    font-family: 'neo-light';
}

.text-highlight-color {
    color: var(--text-highlight-color) !important;
}

.box-shadow {
    box-shadow: 0 3px 5px rgba(35, 35, 35, 0.1);
}